
.crickter img{
    margin-top: 20px;
    width: 70%;
    height: 200px;
    border: 5px solid red;
}
.crickter{
    width:400px;
    background:rgba(255, 255, 0, 0.411);
    box-shadow:10px 10px 20px rgba(255, 255, 0, 0.692);
    border-radius:5px;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    -ms-border-radius:5px;
    -o-border-radius:5px;
}

